<!DOCTYPE html>

<html>
<head>
    <link href="~/Content/StyleSheet.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="header">
        <ul class="navbar-nav flex-grow-1" type="square">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("About", "About", "Home")</li>
            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            <li>@Html.ActionLink("Customers", "CustomerList", "Customer")</li>
        </ul>
     </div>
        <div class="placeholder">
            @RenderBody()
        </div>
        <div class="footer">
            &copy;
            </div>
</body>
</html>
